#downloadButton {
    display: none;  /* Initially hidden */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#downloadButton:hover {
    background-color: #0056b3;
}
